<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>
<%- include ('../partials/message') %>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!--Adding icons to use for the buttons-->

<form action="/" method="post">
    <div class="mb-3">
        <input type="text" class="form-control" id="search" name="search" placeholder="Search" style="text-align:center">
        <!--Search Bar-->
    </div>
    <div class="d-grid gap-2">
        <button type="submit" class="btn btn-primary btn-lg" style="float:right"><i class="fa fa-search"></i></button>
        <!--Search Button, Block-->
    </div>
</form>

<% if (results) { %>
<div style="margin-top:50px;">
    <center>
        <div class="card" style="width: 18rem;">
            <div class="card-body">

                <!--Information from the API, display in a Card-->
                <img src="<%=image %>" class="card-img-top" alt="Image" style="width:100px; height=100px;">
                <h5 class="card-title"> Name: <%= name %> </h5>

                <!--Genre isn't ""-->
                <% if(genre != ""){ %>
                <h6 class="card-subtitle mb-2 text-muted">Genre: <%= genre %></h6>
                <% } %>

                <!--Genre is "", doesn't exist-->
                <% if (genre == ""){ %>
                <h6 class="card-subtitle mb-2 text-muted">-</h6>
                <% } %>

                <!--Release date isn't ""-->
                <% if (release_date != "") { %>
                <p class="card-text"> Release Date: <%= release_date %> </p>
                <% } %>

                <!--Release date is ""-->
                <% if (release_date == ""){ %>
                <p class="card-text">-</p>
                <% } %>

                <!--URL isn't ""-->
                <% if (url != ""){ %>
                <a class="btn btn-primary" href="<%= url %>"> <i class="fa fa-external-link"></i> </a>
                <% } %>

                <!--URL is "", link unavailable, just disable the button-->
                <% if (url == "") { %>
                <button type="button" class="btn btn-primary" disabled> <i class="fa fa-external-link"></i> </button>
                <% } %>

            </div>
        </div>
    </center>
</div>
<% } %>

<%- include ('../partials/footer') %>